table{
    border: 2px solid black;
    margin-top: 200px;
    margin-left: 200px;
    height: 125px;
    width: 125px;
    background-color: rgb(201, 70, 179);
}
#outputbox{
    border: 2px solid black;
    height: 35px;
    background-color: aliceblue;
}
button{
    margin-top: 40px;
    margin-left: 75px;
}
body{
    background-color:rgb(32, 221, 205);
}